{% if page.is_post %}
  {% assign type = "article" %}
{% else %}
  {% assign type = "website" %}
{% endif %}

{% capture image_path %}{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}/{{ page.image.path }}{% endcapture %}

  <meta property="og:type" content="{{ type }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:title" content="{{ include.page_title }}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.description }}{% endif %}" />
  {% if page.image %}
  <meta property="og:image" content="{{ 'assets/posts/' | absolute_url | append: image_path }}" />
  <meta property="og:image:width" content="{{ page.image.width | default: 1200 }}" />
  <meta property="og:image:height" content="{{ page.image.height | default: 630 }}" />
  {% endif %}
  {% if page.is_post %}
  <meta property="og:site_name" content="{{ include.site_title }}" />
  {% endif %}
